  $body-font-family: "Montserrat" !important;
  $heading-font-family: "Montserrat" !important;
  $badge-font-family: "Montserrat" !important;
  $mdi-font-family: "Montserrat" !important;
  @import "~vuetify/src/styles/styles";
  @import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,700&display=swap');


